.navBar {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.links li>a {
    margin-right: 60px;
    opacity: 0.7;
}

.links {
    margin-top: 20px;
}

.logo p {
    font-weight: 700;
    font-size: 24px;
}

.cta {
    background-color: #e2f5ff;
    border: 1px solid #000;
    padding: 10px 30px;
    font-weight: 500;
}

.cta:hover {
    background-color: #000;
    color: #fff;
}